

@if( isMapReady() ) {
  <div style="height: 400px; width: 100%;">
    <google-map
      #googleMap
      [mapId]="'13fbb21fe1c6be2acb70e788'"
      height="400px"
      width="100%"
      [center]="center()"
      [zoom]="15"
      (mapClick)="handlePlaceSelection($event)"
      (mapInitialized)="onMapReady()"
    >
      <map-advanced-marker
        *ngIf="markerPosition"
        [position]="markerPosition()!"
        title="Selected location"
      >
      </map-advanced-marker>
    </google-map>
  </div>
}
<ng-template #loading>
  <h2>Loading Google Maps...</h2>
</ng-template>
