
<div class="container my-5">

  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>

        <mat-panel-title> <mat-icon class="text-boo" matListItemIcon>share</mat-icon> </mat-panel-title>
        <mat-panel-description class="text-main d-flex justify-content-center"> Download your booking exports here </mat-panel-description>

      </mat-expansion-panel-header>

      <mat-list>

        <mat-divider></mat-divider>

        <div mat-subheader class="text-main my-3 ">

          @for (file of bookingService.exportFiles() ; track $index) {
            <mat-list-item class="text-main text-boo">
              <mat-icon matListItemIcon>file_present</mat-icon>
              <div matListItemTitle class="text-main text-boo my-3" (click)="bookingService.downloadFile(file)">
                <small style="font-size: 15px"> {{file.substring(10)}} </small>
              </div>
            </mat-list-item>
          }
        </div>
        <mat-divider></mat-divider>

      </mat-list>

      <div class="d-flex justify-content-end mt-3">
        <button class="btn-main btn flex-md-fill text-main" (click)="bookingService.exportBookings()" style="width: 250px">
          Export Current Bookings
        </button>
      </div>

    </mat-expansion-panel>

  </mat-accordion>

</div>
