



@if (room(); as selected) {
  <div class="p-5 h-100 position-relative">

    <div class="timeline-container">
      <div style="font-size: 0.75rem;">
        <div style="width: 150px">

          <ng-container *ngIf="selectedRoomForDay as r">
            <app-feature-timeline-bar
              [date]="this.dayAsString()"
              [isVertical]="true"
              [room]="r">
            </app-feature-timeline-bar>
          </ng-container>

        </div>
      </div>
    </div>

  </div>
}

