<!-- booking-list.component.html -->
<div class="container mt-4">
  <h1 class="text-light py-5">Bookings</h1>
  <table mat-table [dataSource]="bookings()" class="mat-elevation-z8" multiTemplateDataRows>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let booking">{{ booking.id }}</td>
    </ng-container>

    <!-- Room Column -->
    <ng-container matColumnDef="room">
      <th mat-header-cell *matHeaderCellDef>Room</th>
      <td mat-cell *matCellDef="let booking">{{ booking.roomName }}</td>
    </ng-container>

    <!-- Location Column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef>Location</th>
      <td mat-cell *matCellDef="let booking">{{ booking.roomLocation }}</td>
    </ng-container>

    <!-- Group Column -->
    <ng-container matColumnDef="group">
      <th mat-header-cell *matHeaderCellDef>Group</th>
      <td mat-cell *matCellDef="let booking">{{ booking.namedGroupName }}</td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let booking">{{ booking.date }}</td>
    </ng-container>

    <!-- Time Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>Time</th>
      <td mat-cell *matCellDef="let booking">{{ booking.startTime }} - {{ booking.endTime }}</td>
    </ng-container>

    <!-- User Column (only for Admins) -->
    <ng-container *ngIf="isAdmin" matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef>User</th>
      <td mat-cell *matCellDef="let booking">{{ booking.userName }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>

      <td mat-cell *matCellDef="let booking">

        <button mat-icon-button color="primary" class="btn-main m-2" (click)="viewDetails(booking)" aria-label="View details">
          <mat-icon>visibility</mat-icon>
        </button>

        <!-- Delete Button -->
        <button mat-icon-button color="warn" class="btn-red m-2" (click)="deleteBooking(booking)" aria-label="Delete booking">
          <mat-icon>delete</mat-icon>
        </button>

      </td>

    </ng-container>

    <!-- Header & Row Declarations -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>

</div>
