<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid space-between">
    <a class="navbar-brand" href="/">Conference Room Booking</a>
    <div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">

            @if( authService.isAdmin()){
              <a class="nav-link" [routerLink]="['/groups']"> Import Groups </a>
            }

          </li>
          <li class="nav-item">
            <button class="btn btn-main" (click)="logout()"> Log Out</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
