<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid space-between">

    <a class="navbar-brand ms-2" href="/">
      <img src="https://mario.wiki.gallery/images/4/47/Mario_Party_Star_Rush_King_Boo.png?download" style="width:30px" alt="kingbooimg">
      Boo King
    </a>
    <div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <ul class="navbar-nav">

          <li class="nav-item">

            @if( authService.isUser()){
              <a class="nav-link mx-2" [routerLink]="['/book']" > Book a Room </a>
            } @else {
              <a class="nav-link mx-2" [routerLink]="['/dashboard']" > Manage Rooms </a>
            }

          </li>

          <li class="nav-item">
            <a class="nav-link mx-2" [routerLink]="['/bookings']" > View Bookings </a>
          </li>

          <li class="nav-item">

            @if( authService.isAdmin()){
              <a class="nav-link mx-2" [routerLink]="['/groups']" > Import Groups </a>
            }

          </li>

          <li class="nav-item">
            <button class="btn btn-main ms-5" (click)="logout()"> Log Out</button>
          </li>

        </ul>
      </div>
    </div>
  </div>
</nav>
