
<div class="container my-5 justify-content-center d-flex">

  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <button mat-icon-button aria-label="Filter">
          <mat-icon>filter_alt</mat-icon>
          </button>
        </mat-panel-title>
        <mat-panel-description class="filter-text d-flex justify-content-end"> Show Filters </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="row">

        <div class="col-12 col-md-4">

          @if( !view() ) {

            <mat-form-field appearance="fill" class="me-3" style="width: 300px;">
              <mat-label class="filter-text">Choose a date</mat-label>
              <input class="filter-text" matInput [matDatepicker]="picker" [ngModel]="filter().date" (dateChange)="onDateChange($event.value)">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

          } @else {

            <app-feature-select-room [rooms]="availableRooms()"
                                     (selectedRoom)="onRoomSelected($event)"
            ></app-feature-select-room>

          }

            <mat-form-field appearance="fill" class="me-3" style="width: 300px">
              <mat-label class="filter-text">Minimum Capacity</mat-label>
              <input class="filter-text" matInput type="number" [ngModel]="filter().minCapacity" (ngModelChange)="onCapacityChange($event)" />
            </mat-form-field>

        </div>

        <div class="col-12 col-md-8">
            <mat-label class="filter-text">Amenities</mat-label>
            <mat-chip-listbox multiple aria-label="Amenities selection">
              <mat-chip-option *ngFor="let a of amenities()"
                        selectable="true"
                        [class.filter-text]="true"
                        (click)="toggleAmenity(a)">
                <span class="text-main"> {{ a }}</span>
              </mat-chip-option>
            </mat-chip-listbox>
        </div>

      </div>

    </mat-expansion-panel>

  </mat-accordion>

</div>

