.bg-available {
  background-color: #7fb9db;
  transition: background-color 0.3s ease;
}

.bg-available:hover {
  background-color: #2e4a7a; /* darken on hover */
}

.bg-unavailable {
  background-color: #dc3545;
  transition: background-color 0.3s ease;
}
