@if( room(); as room ) {

  @if( isVertical() ) {


      <div class="position-relative my-3 bg-unavailable bg-opacity-10" style="width: 3rem; height: 320px;">

      <ng-container *ngFor="let interval of room.availableSlots">
        <div
          class="position-absolute bg-available shadow-sm booking-bar"
          [style.top.%]="getVerticalOffset(interval)"
          [style.height.%]="getVerticalHeight(interval)"
          style="left: 0; width: 100%; cursor: pointer;"
          (click)="selectInterval(interval)"
          [attr.title]="formatVerticalInterval(interval)">
        </div>
      </ng-container>

    </div>

  } @else {
    <!-- Horizontal Timeline -->
    <div class="position-relative my-3 bg-unavailable bg-opacity-10 rounded-pill" style="height: 2rem;">

      <ng-container *ngFor="let interval of room.availableSlots">
        <div
          class="position-absolute bg-available rounded-pill shadow-sm"
          [style.left.%]="getIntervalOffset(interval)"
          [style.width.%]="getIntervalWidth(interval)"
          style="top: 0; height: 100%; cursor: pointer;"
          (click)="selectInterval(interval)"
          [attr.title]="formatInterval(interval)"
        ></div>
      </ng-container>

    </div>
  }

} @else {
  <p class="my-3"> Timeline error</p>
}
