<div id="rooms" class="container my-5">

  <h2 class="text-light">Room List</h2>

  <div class="d-flex flex-row flex-wrap">
    @for (room of rooms(); track room.name) {

      <div class="card m-2 d-flex flex-column" style="width: 300px; height: 350px;">
        <div class="flex-grow-1">
          <app-room-card [room]="room"></app-room-card>
        </div>
        <div class="card-footer p-3 d-flex justify-content-between">
          <button class="btn btn-main" (click)="editClicked(room)">Edit</button>
          <button class="btn btn-outline-danger" (click)="deleteClicked(room)">Delete</button>
        </div>
      </div>

    }
  </div>
</div>
