.card {
  border: none;
  border-radius: 10px;
}

.card-body {
  padding: 2rem;
}

.mat-form-field {
  margin-bottom: 1rem;
}

.label {
  font-family: 'Montserrat', 'Roboto', sans-serif !important;
}

#register-form {
  background: linear-gradient(44deg, #7fb9db, #3a5583, #2e4a7a, #7fb9db);
  background-size: 400% 400%;        /* smaller background size for less movement */
  animation: gradientShift 40s ease infinite;  /* slower animation */
  box-shadow: 0 4px 15px rgba(30, 60, 114, 0.3); /* lighter shadow */
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 70% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

