<div [style.background]="'rgb(57,62,62)'" id="footer">

  <div class="container p-5 ">

    <div class="text-white">
        <h3>
          <strong> About Us </strong>
        </h3>
        At Conference Room Booking, we are dedicated to making it easier for businesses,
        organizations, and teams to efficiently reserve and manage meeting spaces.
        Our platform offers a streamlined solution for scheduling conference rooms, ensuring availability
        and managing bookings with just a few clicks.
        We understand the challenges of coordinating meetings and events, which is why we've built a system that
        is intuitive, reliable, and tailored to your needs.
        Whether it's a quick meeting or a large corporate event, our goal is to help you find the right space,
        at the right time, with the right features.
        Driven by simplicity and efficiency,
        Conference Room Booking is here to support your productivity and collaboration — every step of the way.

        <div class="p-5 d-flex justify-content-center text-white">
          © 2025 Conference Room Booking.  All rights reserved.
          <a href="#" class="mx-3 text-decoration-none text-white fw-bold"> Contact </a>
          |
          <a href="#" class="mx-3 text-decoration-none text-white fw-bold"> Privacy Policy </a>
          |
          <a href="#" class="mx-3 text-decoration-none text-white fw-bold"> Terms & Conditions </a>
        </div>
      </div>
  </div>
</div>

