
  @if( authService.isAdmin() ) {

    <app-feature-room-list [rooms]="rooms()"
                           (roomSelected)="onRoomSelected($event)"
                           (roomDeleted)="onRoomDeleted($event)"></app-feature-room-list>
    <div class="d-flex justify-content-center my-3">
      <button class="btn btn-main" (click)="addNewRoom()"> Add new </button>
    </div>

    @if (room(); as room) {
      <app-room-form [room]="room"
                     (roomChanged)="onRoomChanged($event)"
                     (cancel)="onCancel()"></app-room-form>
    }
  }
  @else if( authService.isUser() ) {

  } @else {
    <h2> How did you get here? </h2>
  }

